html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

main {
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
}
h1 { 
  color: rgb(0, 0, 0);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, bold;
font-weight: 600;
font-size: 2.6em;
text-align: left;
}
canvas{ 
  DISPLAY: block;
}

h2 { 
  color: rgb(0, 0, 0);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-align: left;
font-weight: 200;
}

a:hover {
  color: rosybrown;
}

img{
  display: block;
  margin-left: auto;
  margin right: auto;
}