html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

main {
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
}
h1 { 
  color: rgb(0, 0, 0);
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}
canvas{ 
  DISPLAY: block;
}

h2 { 
  color: rgb(156, 205, 198);
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
}

a:hover {
  color: rosybrown;
}

img{
  display: block;
  margin-left: auto;
  margin right: auto;
}